/* Playfair Display */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap");

/* Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

:root {
  /* COLORS */
  --primary-font-family: "Playfair Display SC", serif;
  --secondary-font-family: "Roboto", sans-serif;
  --primary-color: #239b7e;
  --secondary-color: #bcbaba;
  --tertiary-color: #00000097;
  --footer-color: #1f1e1e;
  --heading-color: #716d6d;

  /* NEUTRAL COLORS */
  --black: #000;
  --white: #fff;

  /* TYPOGRAPHY */

  --text-h1: 6.2rem;
  --text-h2: 4.8rem;
  --text-h3: 4rem;
  --text-h4: 3.2rem;
  --text-h5: 2.4rem;
  --text-p: 2rem;
  --text-base: 1.6rem;
  --text-small: 1.2rem;

  /* FONT-WEIGHT */
  --font-normal: 400;
  --font-bold: 700;

  /* BUTTONS */
  --btn-padding: 1rem 2rem;
  --btn-transition: all 0.5s ease-out;
  --btn-font-family: sans-serif;

  /* MISCELLENOUS */
  --nav-height: 100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--secondary-font-family);
  font-weight: var(--font-normal);
  line-height: 1.2;
}

.main-container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--nav-height);
}

.logo {
  font-size: var(--text-h4);
  font-weight: bold;
}

.hamburger {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}

.line-hamburger {
  border: 2px solid var(--primary-color);
  margin: 2px;
  width: 40px;
}

/* COMPONENTS */

.primary-heading {
  font-size:clamp(4.8rem,5vw,var(--text-h1));
  font-family: var(--primary-font-family);
  color: var(--heading-color);
  margin-bottom: 5rem;
}

.secondary-heading {
  color: var(--black);
}

.paragraph-content {
  font-size: var(--text-p);
  line-height: 1.5;
  margin-bottom: 3rem;
  color: var(--tertiary-color);
  max-width: 500px;
 
}

.btn-containers {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.btn {
  text-decoration: none;
  padding: var(--btn-padding);
  font-size: 1.3rem;
  font-weight: var(--font-normal);
  font-family: var(--btn-font-family);
  transition: var(--btn-transition);
}

.btn.btn-filled {
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--white);
}

.btn-filled:hover {
  background-color: transparent;
  color: var(--primary-color);
}

.btn-outline {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.btn-outline:hover {
  background-color: var(--primary-color);
  color: var(--white);
}

/* HERO-SECTION */

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 5rem 0rem 20rem 0;
}

.hero-section-container {
  width: 50%;
}

.hero-section-image {
  background: url(./images/oswaldo-ibanez-1NPUmTaiMeg-unsplash.jpg);
  background-position: top;
  background-size: cover;
   width: clamp(200px, 30vw, 400px);
  height: clamp(200px, 30vw, 400px);
  border-radius: 100%;
  box-shadow: 4px 7px 4px 2px var(--secondary-color);
}

/* SECTION-2 */

.section-2-offers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20rem;
}

.section-2-container {
  width: 50%;
  transform: translateY(-40px);
}

.sales-offer-image {
  background: url(./images/gesphotoss-1i9K55ni5Dk-unsplash.jpg);
  background-position: top;
  background-size: cover;
  width: clamp(200px, 30vw, 400px);
  height: clamp(200px, 30vw, 400px);
  border-radius: 100%;
  box-shadow: 4px 7px 4px 2px var(--secondary-color);
}

/* SECTION-3 */

.section-3-products-items {
  margin-bottom: 20em;
}

.h2-heading {
  font-size: var(--text-h4);
  text-align: center;
  margin-bottom: 5rem;
}

.product-btn-container {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-bottom: 10rem;
}

.btn.btn-product {
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
}

.btn.btn-product:hover {
  border-color: var(--primary-color);
  color: var(--primary-color);
}
.btn.btn-product.active {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.product-item-images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  flex-wrap: wrap;
}

.product-img {
  background: #ebf1f0;
  padding: 3rem; 
  width: clamp(200px, 20vw, 400px);
  height: clamp(200px, 30vw, 400px);
  object-fit: contain;
  margin-bottom: 1rem;
}

.product-name,
.product-price {
  font-size: var(--text-base);
  margin-bottom: 1rem;
}
.product-price {
  display: block;
}
.product-item-link {
  list-style-type: none;
}
.product-view-link {
  text-decoration: none;
  font-size: var(--text-base);
  border-bottom: 1px solid var(--primary-color);
  color: var(--primary-color);
}

/* SECTION-4 TESTIMONIAL */

.section-4-testimonial {
  margin-bottom: 10rem;
}

.testimonial-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 15rem;
}

.testimonial-heading {
  font-size: var(--text-h4);
  margin-bottom: 10rem;
  text-align: center;
}

.customer-img {
   width: clamp(120px, 30vw, 200px);
  height: clamp(120px, 30vw, 200px);
  object-fit: cover;
  border-radius: 100%;
  margin-bottom: 1rem;
}

.customer-name {
  font-size: var(--text-h4);
  font-family: serif;
  margin-bottom: 1rem;
  text-align: center;
}

.customer-review {
  font-size: var(--text-small);
  max-width: 200px;
  text-align: center;
}

/* FOOTER */

.footer {
  background-color: var(--footer-color);
  color: var(--white);
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 3rem 6rem;
}

.customer {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

.footer-details {
  margin: 5rem 0;
}

.footer-heading {
  font-size: var(--text-h5);
  margin-bottom: 2rem;
}

address,
.footer-paragraph,
.contact-info {
  font-size: 1.4rem;
  line-height: 2;
  font-style: normal;
}

.contact-info span {
  display: block;

}